@use 'mixinsfunc';
.nav {
    position: relative;
    max-width: mixinsfunc.pixeles-rem(300);
    height: 70px;
    @include mixinsfunc.crear-flexbox(center);
    margin-left: mixinsfunc.pixeles-rem(60);
    @media (max-width: 550px) {
        margin: auto;
    }
}